$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #06c484;
$txt: #183b56;

.cover{
    margin-top: calc(65px + 30px);
    background: rgb(175,175,175);
    height: auto;
    width: 100%;
    opacity: 0;
}